# ignore the generated artifacts
pvtr-github-repo
github-repo
evaluation_results

# ignore any local dev config file
config.yml

.vscode
output

# Go test coverage
coverage.out
# Added by goreleaser init:
dist/
